.testPage {
  display: flex;
  height: 100vh;
  padding: 20px;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--primary-bg);
}

/*  */
.countdown {
  font-size: 1em;
  color: white;
}

.testPageResultsContainer {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 20px;
  /* background-color: red; */
  background-color: var(--primary-light);
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.1);
}

.testPageResultsContainer h3 {
  color: #ffffff;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 15px;
  /* background-color: blue; */
}

.testPageResult {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: var(--primary-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testPageResult p.question {
  font-weight: 500;
  margin-bottom: 5px;
  /* background-color: #00ff08; */
}
/* 
.testPageResult .answerResult {
  margin-top: 10px;
  background-color: #00e1ff;
}

.testPageResult p {
  margin: 5px 0;
  background-color: #ffbb00;
} */

.testPageResult .answerResult {
  padding: 0px;
  margin-top: 10px;
  /* background-color: #0f6b78; */
}

.test-correct {
  background-color: lightgreen;
  border: 1px solid green;
  color: white;
  padding: 2px 9px;
  border-radius: 8px;
}

.test-incorrect {
  background-color: rgb(240, 128, 128);
  border: 1px solid red;
  color: white;
  padding: 2px 9px;
  border-radius: 8px;
}

.answerRow {
  display: flex;
  padding: 3px;
  font-size: 0.9em;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  justify-content: space-between;
  border: 1px solid var(--primary-light);
}

.answerRow:last-child {
  margin-bottom: 0px;
}

.values {
  text-align: right;
}

.testPageHeaderBox {
  display: grid;
  padding: 10px 20px;
  color: #fff;
  padding-right: 0px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.1);
}

.testPageHeaderBox .testPageHeader {
  display: flex;
  width: max-content;
  align-items: center;
  border-radius: 13px;
  margin: auto auto auto 0;
  padding: 10px 0px 10px 20px;
  background-color: #e0bcff;
}

.testPageHeaderBox .testPageHeader h4 {
  margin-left: 30px;
  padding: 9px 12px;
  margin-top: 0%;
  margin-bottom: 0%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--primary-color);
}

.testPageHeaderBox .testPageHeaderTimerBox {
  width: max-content;
  padding: 10px 15px;
  margin: auto 0 auto auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--primary-light);
}

.testPageHeaderBox .testPageHeaderTimerBox p {
  font-size: 0.9em;
  margin: 0px auto;
  font-weight: 500;
  color: var(--primary-bg);
}

.testLimit {
  margin: auto;
  /* bgc */
  /* background-color: red; */
}

.timer-countdown {
  color: black;
  font-size: 20px;
}

.testPageMainContainer {
  display: flex;
  padding: 5px;
}

.testPageSidebar {
  width: 5%;
  display: flex;
  padding-top: 35px;
  margin-right: -15px;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* bgc */
  background-color: white;
  border-right: 1px solid var(--primary-light);
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

.testPageSidebar ul {
  padding: 8px 5px;
  list-style-type: none;
}

.testPageSidebar ul li {
  width: 35px;
  font-weight: 500;
  margin-bottom: 12px;
  border-radius: 10px;
  /* bgc */
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

.testPageSidebarItem {
  cursor: pointer;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.2s;
  border-bottom: 1px solid rgb(159, 159, 159);
}

.testPageSidebarItem:hover {
  opacity: 0.8;
  transform: translateY(-2.5px);
}

.testPageSidebarItem.selected {
  color: white;
  background-color: var(--primary-color);
}

.testPageContent {
  display: flex;
  gap: 15px;
  width: 95%;
}

.testPageQuestionBox {
  width: 45%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* bgc */
  background-color: white;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.1);
}

.testPageQuestionBox .testPageSpan {
  margin: 20px;
}

.testPageTotalQuestion {
  font-weight: 500;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  /* bgc */
  background-color: #e0bcff;
  border-bottom: 1px solid var(--primary-light);
}

.testAnswerHere {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.testPageRHS {
  width: 55%;
  border-radius: 5px;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.1);
}

.testPageQuestionContainer {
  padding-bottom: 5px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.testPageOptionLabel {
  display: block;
  margin: 20px;
  display: flex;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 250ms;
  background-color: var(--primary-bg);
}

.testPageOptionLabel:hover {
  color: white;
  transform: translateY(-2px);
  background-color: var(--primary-light);
}

.testPageOptionLabel input[type="radio"] {
  border: none;
  outline: none;
  margin-right: 8px;
  position: relative;
  transform: scale(1.3);
}

.testPageNavigationButtons {
  padding: 8px;
  display: flex;
  justify-content: end;
  background-color: #e0bcff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.testPageNextButton,
.testPageSubmitButton {
  border: none;
  color: white;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 5px;
  background-color: #00ff08;
}

.testPageNextButton:hover,
.testPageSubmitButton:hover {
  background-color: #45a049;
}

@media (max-width: 1125px) {
  .timer-countdown {
    font-size: 15px;
  }

  .testPage {
    height: 100vh;
  }

  .testPageHeaderBox {
    padding: 6px 8px;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .testPageHeaderBox .testPageHeader {
    padding: 5px 0px 5px 3px;
    border-radius: 8px;
  }

  .testPageHeaderBox .testPageHeader h4 {
    padding: 5px;
    font-size: 0.6em;
    margin-left: 15px;
  }

  .testPageHeaderBox .testPageHeaderTimerBox {
    padding: 4px 7px;
    border-radius: 7px;
  }

  .testPageHeaderBox .testPageHeaderTimerBox p {
    line-height: 1.3em;
    font-size: 0.55em;
  }

  .testPageMainContainer {
    flex-direction: column;
  }

  .testPageSidebar {
    padding: 0%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .testPageSidebar,
  .testPageContent {
    width: 100%;
    flex-direction: column;
  }

  .testPageSidebar ul {
    display: flex;
    gap: 8px;
    margin-bottom: 0px;
    overflow-x: scroll;
  }

  .testPageRHS,
  .testPageQuestionBox {
    width: 100%;
  }

  .testPageSidebar ul li {
    width: 25px;
    font-size: 0.75em;
    margin-bottom: 0px;
  }

  .testPageSidebarItem {
    padding: 3px 6px;
  }

  .testPageTotalQuestion {
    font-size: 0.7em;
  }

  .testPageTotalQuestion {
    border-radius: 5px;
  }

  .testPageQuestionBox .testPageSpan {
    margin: 5px;
  }

  .testPageQuestionBox .testPageSpan h4 {
    font-size: 0.8em;
    margin-bottom: 0px;
  }

  .testPageQuestionBox .testPageSpan p {
    font-size: 0.65em;
    line-height: 1em;
    margin-top: 5px;
  }

  .testPageOptionLabel {
    margin: 10px;
    font-size: 0.7em;
  }

  .testPageNavigationButtons {
    padding: 5px;
  }

  .testPageNextButton,
  .testPageSubmitButton {
    font-size: small;
    padding: 5px 12px;
  }

  .testPageResultsContainer {
    padding: 15px;
  }

  .testPageResultsContainer h3 {
    font-size: 1em;
  }

  .testPageResult {
    padding: 12px;
  }

  .testPageResult .question {
    font-size: 0.7em;
    line-height: 1.2em;
  }

  .testPageResult .answerResult {
    font-size: 0.7em;
    line-height: 1.2em;
  }
}
