.courseContentContainer {
  width: 100%;
  display: flex;
  padding: 20px;
  cursor: default;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-bg);
}

.firstRow {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.1);
}

.courseHeading {
  flex: 10;
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
  color: var(--primary-dark);
}

.BackBtn,
.NextBtn {
  flex: 1;
  z-index: 1;
  border: unset;
  color: white;
  font-size: 17px;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 250ms;
  background-color: var(--primary-light);
}

.BackBtn::before,
.NextBtn::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  transition: all 250ms;
  background-color: var(--primary-color);
}

.NextBtn::before {
  left: 0;
}

.BackBtn::before {
  right: 0;
}

.NextBtn:hover {
  color: #e8e8e8;
  transform: translateX(3px);
  box-shadow: 0px 6px 8px var(--shadow-light);
}

.BackBtn:hover {
  color: #e8e8e8;
  transform: translateX(-3px);
  box-shadow: 0px 6px 8px var(--shadow-light);
}

.BackBtn:hover::before,
.NextBtn:hover::before {
  width: 100%;
}

.infoBox {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.infoBox h1 {
  margin-bottom: 7px;
  font-size: 1.3em;
}

.lessonDescriptionBox {
  padding: 15px 12px;
  border-radius: 10px;
  background-color: var(--primary-bg);
}

.lessonDescriptionBoxTitle {
  font-size: 18px;
}

.lessonDescriptionBoxDescription {
  margin: 0%;
  padding-left: 18px;
}

.testButton {
  color: white;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding: 7px 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
  background-color: var(--primary-light);
}

.testButton:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 4px 6px var(--shadow-light);
}

.courseContentContainer .secondRow {
  width: 100%;
}

.secondRow .col-md-8 {
  padding-left: 0%;
}

.videoBox iframe {
  border-radius: 20px;
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.videoBox div:first-child {
  margin-bottom: 15px;
}

.CCaccordianBox {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.CCaccordianBox .accordion-item {
  border: none;
  margin: 8px 0;
  border-radius: 16px;
}

.CCaccordianBox .accordion-button {
  border: none;
  border-radius: 16px !important;
  background-color: var(--primary-bg);
  transition: border-radius 0.3s ease, background-color 0.3s;
}

/* .CCaccordianBox .accordion-button .accr-btn-active, */
.CCaccordianBox .accordion-button:hover,
.CCaccordianBox .accr-btn-active button {
  color: white;
  background-color: var(--primary-light);
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}
/* 
.CCaccordianBox .accr-btn-active button {
  color: rgb(38, 0, 255) !important;
  background-color: red !important;
} */

.CCaccordianBox .accordion-collapse {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.CCaccordianBox .accordion-header:focus,
.CCaccordianBox .accordion-header:active,
.CCaccordianBox .accordion-header:focus-visible,
.CCaccordianBox .accordion-button:focus,
.CCaccordianBox .accordion-button:active,
.CCaccordianBox .accordion-button:focus-visible {
  outline: none;
  /* color: black; */
  box-shadow: none;
}

.CCaccordianBox .accordion-header .accordion-button {
  padding: 15px;
}

.CCaccordianBox .accordion-body {
  font-size: 0.9em;
  padding: 8px 10px;
  padding-left: 50px;
  border-radius: 16px;
}

.CCaccordianBox .accordion-body .list-group-item:first-child {
  margin-top: 0px;
}

.CCaccordianBox .accordion-body .list-group-item {
  border: none;
  display: flex;
  outline: none;
  margin-top: 7px;
  flex-direction: column;
  border-radius: 10px !important;
  background-color: var(--primary-bg);
}

.CCaccordianBox .accordion-body .list-group-item:hover {
  color: white;
  transition: all 300ms;
  background-color: var(--primary-light);
}

.CCaccordianBox .accordion-body .list-group-item:hover .video-number a {
  color: white;
  transition: all 300ms;
}

.list-group-item-active,
.CCaccordianBox .accordion-body .list-group-item-active .video-number a {
  color: white !important;
  transition: all 300ms;
  background-color: var(--primary-light) !important;
}

.lesson-meta {
  padding-left: 15px;
}

.lesson-title {
  font-size: 1.1em;
  font-weight: 450;
  margin-bottom: 5px;
}

.lesson-meta .lesson-duration,
.list-group-item .lesson-duration {
  font-size: 0.8em;
  width: max-content;
  padding: 0 0 0 20px;
}

.lesson-meta span {
  font-size: 0.8em;
}

.list-group-item {
  cursor: pointer;
  padding: 8px 10px;
}

.testButtonBox {
  display: flex;
  gap: 5px;
  border: none;
  outline: none;
  margin-top: 7px;
  padding: 8px 15px;
  border-radius: 10px;
  flex-direction: column;
  color: var(--primary-dark);
  background-color: var(--primary-bg);
}

.testButtonBox div {
  width: 100%;
  display: flex;
  padding: 2px 3px;
  border-radius: 5px;
  background-color: white;
}

.testButtonBox div div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.testButton {
  padding: 5px 15px;
  margin-left: auto;
}

.list-group-item a {
  font-weight: 400;
  padding-left: 5px;
  text-decoration: none;
  color: var(--primary-dark);
}

@media (max-width: 1125px) {
  .courseContentContainer {
    padding: 13px 15px;
  }

  .firstRow {
    padding: 13px 7px;
  }

  .courseHeading {
    margin: 0 2px;
    font-size: 0.95em;
    line-height: 1.15em;
  }

  .BackBtn,
  .NextBtn {
    flex: 1;
    margin: 0;
    font-size: 0.5em;
    line-height: 1em;
    padding: 7px 10px;
    border-radius: 7px;
  }

  .pdy .videoBox {
    margin-bottom: 10px;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .videoBox div:first-child {
    margin-bottom: 10px;
  }

  .secondRow .col-md-8 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .testButtonBox {
    padding: 0px;
    font-size: 0.95em;
  }

  .testButtonBox div div {
    font-size: 0.85em;
  }

  .testButton {
    margin: auto;
    font-size: 0.85em;
  }

  .infoBox {
    padding: 10px 12px;
  }

  .infoBox h1 {
    font-size: 0.9em;
  }

  .lessonDescriptionBox {
    padding: 11px;
  }

  .lessonDescriptionBoxTitle {
    font-size: 13px;
  }

  .lessonDescriptionBoxDescription {
    font-size: 12px;
    line-height: 17px;
  }

  .CCaccordianBox {
    padding: 5px 12px;
  }

  .CCaccordianBox .accordion-item {
    margin: 6px 0;
  }

  .CCaccordianBox .accordion-header .accordion-button {
    padding: 8px;
    border-radius: 10px !important;
  }

  .CCaccordianBox .accordion-body {
    padding: 5px;
    font-size: 0.8em;
    padding-left: 35px;
  }

  .CCaccordianBox .accordion-body .list-group-item {
    margin-top: 5px;
    border-radius: 7px !important;
  }

  .lesson-meta {
    padding-left: 0px;
  }

  .lesson-title {
    font-size: 0.75em;
    margin-bottom: 0px;
  }

  .lesson-meta .lesson-duration,
  .list-group-item .lesson-duration {
    font-size: 0.7em;
    padding: 0 0 0 10px;
  }

  .lesson-meta span {
    font-size: 0.7em;
  }

  .testButtonBox {
    margin-top: 5px;
    padding: 5px 8px;
    border-radius: 7px;
  }

  .testButton {
    padding: 5px 10px;
  }
}
